
body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background-color:#fff;
}

.navbar-custom {
    background-color:#229922;
    color:#ffffff;
	border: none;   
}

.navbar-custom .navbar-nav > li > a {
    color:black;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand { 
    color: black;
}

.product-display {
    margin-top: 70px;
}

.product-list {
    margin-bottom: 30px;
}
  
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 20%;
      margin: auto;
  }
  
 .carousel-control.left, .carousel-control.right {
    background-image: none;
	  color:black;
}

footer {
    margin: 50px 0;
}

.thumbnail .caption {
  padding: 9px;
  color: green;
}

.h4 {
color:pink;
}

